#app{
    background-color: forestgreen;
}

.recipestyle {
    border: 3px solid #008000;
}

.sun{
    display: flex;
    justify-content: center;
}

.address{
    display: grid;
    justify-content: center;
    place-self: center;

}
#registerForm{

    -webkit-box-shadow: 5px 5px 15px 5px #191414;
    box-shadow: 5px 5px 15px 5px #191414;
}
h5{
    margin-inline: auto;
}

.clickAnchor {
    color: black;
}