body{
    font-family: 'Mallanna', sans-serif;
    /*background: rgb(241,253,45);*/
    background: linear-gradient(
            0deg
            , rgba(241,253,45,1) 0%, rgba(31,197,142,1) 100%);
    /*overflow: auto;*/

}
html{
    /*background: rgb(241,253,45);*/
    /*background: linear-gradient(0deg, rgba(241,253,45,1) 0%, rgba(31,197,142,1) 100%);*/
    /*background: rgb(241,253,45);*/
    /*background: linear-gradient(*/
    /*        0deg*/
    /*        , rgba(241,253,45,1) 0%, rgba(31,197,142,1) 100%);*/
    /*overflow: auto;*/
}

.recipefont{
    font-family: 'Mallanna', sans-serif;
}


.sun{
    display: flex;
    justify-content: center;
}

.address{
    display: grid;
    justify-content: center;
    place-self: center;

}
h5{
    margin-inline: auto;
}

#background {
    width: 100%;
    height: 800px;
    background-image: url("/img/home-background.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-box-shadow: 5px 5px 15px 5px #191414;
    box-shadow: 5px 5px 15px 5px #191414;
}
#search-bar-form{
    border-radius: 20px;
}

#search-bar-home{
    background-color: #1FC58E;
    /*background: rgb(241,253,45);*/
    /*background: linear-gradient(0deg, rgba(241,253,45,1) 0%, rgba(31,197,142,1) 100%);*/
    border-radius: 25px;
    /*border: 1px solid #191414;*/
    /*webkit-box-shadow: 5px 5px 15px 5px #191414;*/
    /*box-shadow: 5px 5px 15px 5px #191414;*/
}

.videoBox {
    border-radius: 25px;
    /*-webkit-box-shadow: 5px 5px 15px 5px #191414;*/
    /*box-shadow: 5px 5px 15px 5px #191414;*/
}

#big-box {
    /*border-radius: 25px;*/
    padding: 10px;
    /*background-color: #1FC58E;*/
    /*-webkit-box-shadow: 5px 5px 15px 5px #191414;*/
    /*box-shadow: 5px 5px 15px 5px #191414;*/
}

#map {
    border-radius: 50px;
    /*-webkit-box-shadow: 5px 5px 15px 5px #191414;*/
    /*box-shadow: 5px 5px 15px 5px #191414;*/
}

.h-100 h-custom{
    background: rgb(241,253,45);
    background: linear-gradient(0deg, rgba(241,253,45,1) 0%, rgba(31,197,142,1) 100%);
}


#registerForm{

    /*-webkit-box-shadow: 5px 5px 15px 5px #191414;*/
    /*box-shadow: 5px 5px 15px 5px #191414;*/
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgba(152, 151, 151, 0.1);
    box-shadow: inset 0 0 0 0px rgba(255, 255, 255, 0.1);
}

#recipe {
    padding: 25px;
    overflow: auto;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipeTitle{
    font-family: 'Pattaya', sans-serif;
}

#recipeLinks{
    /*font-family: 'Pattaya', sans-serif;*/
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}

#recipeLinks:hover{
    color: blue;
}

#recipeTitleSmall{
    font-weight: bold;
}

.searchBtn{
    color: #191414;
    font-size: 15px;
    line-height: 15px;
    padding: 12px;
    border-radius: 12px;
    font-family: 'Mallanna', sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: rgb(250, 230, 45);
    /*box-shadow: rgba(0, 0, 0, 0.76) 5px 5px 47px 9px;*/
    /*border: 2px solid #1FC58E;*/
    display: inline-block;
}
.searchBtn:hover{
    background: #1C6EA4;
}
.homeBtn:active {
    background: #144E75;
}

.homeBtn {
    margin: 10px;
    color: #191414;
    font-size: 15px;
    line-height: 15px;
    padding: 6px;
    border-radius: 12px;
    font-family: 'Mallanna', sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: rgb(250, 230, 45);
    /*box-shadow: rgba(0, 0, 0, 0.76) 5px 5px 47px 9px;*/
    /*border: 2px solid #1FC58E;*/
    display: inline-block;
}
.homeBtn:hover {
    background: #1C6EA4;
}
.homeBtn:active {
    background: #144E75;
}
#searchBox{
    margin-top: 400px;
}
#info{
    /*background-color: #1FC58E;*/
    background: rgb(241,253,45);
    background: linear-gradient(0deg, rgba(241,253,45,1) 0%, rgba(31,197,142,1) 100%);
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px #191414;
    box-shadow: 5px 5px 15px 5px #191414;
    margin-top: 250px;
}

/*navbar*/
#nav-container {
    background: white;
    /*-webkit-box-shadow: 5px 5px 15px 5px #191414;*/
    /*box-shadow: 5px 5px 15px 5px #191414;*/
    /*background: rgb(241,253,45);*/
    /*background: linear-gradient(0deg, rgba(241,253,45,1) 0%, rgba(31,197,142,1) 100%);*/
}
.nav-item{
    color: black;
}

.login {
    min-height: 100vh;
}

.bg-image {
    background-image: url('/img/asparagus.jpeg');
    background-size: cover;
    background-position: center;
}

/*Login*/
.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn{
    color: black;
    background-color: white;
    border-color: black
}

#login-house{
    padding: 50px;
}
#login-inner {
    filter: drop-shadow(2px 4px 6px black);
    background-color: rgba(152, 151, 151, 0.1);
    box-shadow: inset 0 0 0 0px rgba(255, 255, 255, 0.1);
}

#app{
    height: 100vh
    /*background: rgb(241,253,45);*/
    /*background: linear-gradient(*/
    /*        0deg*/
    /*        , rgba(241,253,45,1) 0%, rgba(31,197,142,1) 100%);*/
}

#recipeImage{
    height: 150px;
    /*box-shadow: 5px 5px 15px 5px #191414;*/
    margin-top: 5px;
    cursor: pointer;
}

#youtubeTitle{
    font-family: 'Pattaya', sans-serif;
}

#youtubeBox{
    padding-top: 20px;
}

#mapTitle{
    font-family: 'Pattaya', sans-serif;
    padding-top: 25px;
}

#recipeContainers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-width: 205px;
}

#containersContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

#recipeContainer{
    background: white;
    border-right-style: solid;
    border-radius: 20px 0 0 20px;
    /*background: rgb(241,253,45);*/
    /*background: linear-gradient(0deg, rgba(241,253,45,1) 0%, rgba(31,197,142,1) 100%);*/
}

#buttonsContainer{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.saveRecipe{
    border-color:black
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}